.footer-container {
	margin-left: 320px;
	display: flex;
	justify-content: space-between;
	background: $color-smoky-white;
	p {
		a {
			font-weight: normal;
			opacity: 0.72;
			&:hover {
				border-bottom: 1px solid $color-pale-blue;
			}
		}
		flex-wrap: wrap;
		font-weight: normal;
		padding-bottom: 21px;
		padding-top: 32px;
		padding-left: 31px;
		padding-right: 24px;
		font-size: 14px;
		// white-space: nowrap;
		line-height: 16px;
		color: $color-pale-blue;
		mix-blend-mode: normal;
		opacity: 0.72;
		text-align: end;
		position: relative;
		&:last-child {
			max-width: 300px;
		}
		span {
			position: absolute;
			left: 31px;
			font-weight: normal;
			color: $color-pale-blue;
			mix-blend-mode: normal;
			text-align: end;
		}
	}
}
