.sidebar{
    min-width: 320px;
    font-weight: 600;
    
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
    position: fixed;
    height: 100vh;
    padding: 30px 20px;
    
}
.menu-burger-btn{
    display: none;
}
.sidebar-wrapper{
display: flex;
flex-direction: column;
height: 100vh;

    
}
.sidebar-logo__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    
}
.sidebar__item{
    margin-bottom: 28px;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
    span{
        margin-left: 10px;
        &:hover{
        border-bottom: 2px solid #41F6D7;
        }
    }
}
.sidebar__item.active{
  span{
    opacity: 0.6;
  }
        border-left: 4px solid #41F6D7;
    
}

.sidebar-contact{
    margin-top: auto;
    margin-bottom: 41px;
}
.sidebar-contact__feedback{
    margin-bottom: 16px;
    a{
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            opacity: 0.7;
        }
    }
    
}
.phone{
     font-size: 24px;
line-height: 32px;
letter-spacing: -0.6px;
color: #1B1C21;
margin-top: 10px;
display: block;

}
.sidebar-contact__info{
    a{
        &:hover{
            &:hover{
                opacity: 0.7;
            }
        }
    }
}
.sidebar-language__list{
    display: flex;
    
    li{
        font-weight: normal;
        margin-right: 7px;
        cursor: pointer;
        &:hover{
            font-weight: bold;
        }
        &:first-child{
            opacity: 0.7;
        }
    }
}
.sidebar__menu{
    a{
        &:hover{
            
            border-bottom: 2px solid #41F6D7;
        }
    
    }
}
